<link rel="stylesheet" class="aplayer-secondary-style-marker" href="\assets\css\APlayer.min.css"><script src="\assets\js\APlayer.min.js" class="aplayer-secondary-script-marker"></script>@font-face {
  font-family: "iconfont"; /* Project id 3644097 */
  src: url('//at.alicdn.com/t/c/font_3644097_q78duct9lxj.woff2?t=1662990872828') format('woff2'),
       url('//at.alicdn.com/t/c/font_3644097_q78duct9lxj.woff?t=1662990872828') format('woff'),
       url('//at.alicdn.com/t/c/font_3644097_q78duct9lxj.ttf?t=1662990872828') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 24px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-netease-cloud-music-line:before {
  content: "\e76a";
}

.icon-zhihu:before {
  content: "\e87c";
}

.icon-netease-cloud-music-fill:before {
  content: "\e931";
}

.icon-bilibili-line:before {
  content: "\e75d";
}
